.mynav {
    margin-bottom: 300px;
}
:local(.navbar) {
    background:#2E5F91;
    color:white !important;
  }
  

.links {
    color:white;
}

.links:hover {
    color: white;
    text-decoration: none;
}